body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

.page {
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 70px);
  padding: 30px 150px;
}

.completed {
  text-decoration: line-through;
}
